<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <!-- Rule for API requests -->
                <rule name="API" stopProcessing="true">
                <match url="^api/(.*)" />
                <action type="Rewrite" url="api/{R:1}" />
                </rule>
                <!-- Rule for React application -->
                <rule name="ReactApp" stopProcessing="true">
                <match url=".*" />
                <conditions logicalGrouping="MatchAll">
                    <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                    <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                </conditions>
                <action type="Rewrite" url="/client/build/index.html" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>